* {
    margin: 0;
    
}

body {
    background: rgb(238, 223, 223);
}

/* box container for all elements */
.gpass-container {
    border:  5px solid white;
    width: 40%;
    height: 450px;
    position: relative;
    left: 30%;
    margin-top: 5%;
    border-radius: 2rem;
    background: rgb(29, 34, 51);
    box-shadow: 1px 1px 5px;
}

.head-container {
    color: white;
    margin-top: 10%;
    margin-left: 8%;
    display: inline-block;
    font-size: 1.4vw;
}

.head-container > h1:nth-child(2) {
    color: rgb(96, 155, 96);
    font-size: 2.5vw;
}

.head-container > p {
    margin-top: 4%;
    color: rgb(197, 189, 177);
    font-size:1.6vw;
}

.btn-dropdown-container {
    border: none;
    display:flex;
    width: 80%;
    margin-left: 1.5%;
    margin-top: 5%;
}

.genpass {
    
    display: flex;
    margin-left: 8%;
    padding: 2%;
    border-radius: 5px;
    border-style: none;
   background: rgb(96, 155, 96); 
    color: rgb(236, 207, 207);
    font-size: 1vw;
    cursor: pointer;
}

.genpass:hover {
    background: rgba(96, 155, 96, .5);
}

.genpass:active {
    background: rgba(96, 155, 96, .1);
}

/* dropdown menu */
.dropdown-container {
    display: flex;
    margin-left: 40%;
    gap: 10%;
    width: 20%;
    position: absolute;
    
}

.dropbtn {
    /* background: rgb(96, 155, 96);
    color: rgb(236, 207, 207);
    font-size: 1vw;
    display: flex;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center; */
  
    display: inline-block;
    margin-left: -5%;
    margin-top: 5%;
    min-height: 2vw;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    background: rgb(96, 155, 96);
    color: rgb(236, 207, 207);
    font-size: 1vw;
    cursor: pointer;
    
}

.dropdown {
    position: relative;
    display: flex;
    margin-right: 20%;

  
    
   
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(29, 34, 51);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10%;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(236, 207, 207);
    font-size: 1vw;
    padding: 10%;
    text-decoration: none;
    display: block;
    text-align: center;
   
}

.dropdown-content a:hover {
    background: rgb(47, 53, 73);
   
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 5%;
    border-radius: 5px;
    margin-left: 95%;
}


.passgenerated-container {
    border-top: 2px solid rgb(78, 75, 75);
    display: flex;
    margin-top: 5%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    gap: 10%;
    
}

.passgenerated-container > p {
    border: solid;
    margin-top: 5%;
    padding: 2%;
    width: 45%;
    height: 1.5vw;
    color: rgb(96, 155, 96);
    border-style: none;
    background: rgb(47, 53, 73);
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.4vw;
    
}

